.cmdPopover-header{
  height: 35px;
  background: #f3f3f3;
  padding: 10px;
  font-size: 13px;
  color: #666;
  box-sizing: border-box;
}


.cmdPop-emoticonList{
  padding:10px;
  box-sizing: border-box;
}