@import "balloon-css/balloon";

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #FAFAFA;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#app, .chatApp {
  height: 100%;
}

.chatApp::after {
  position: fixed;
  z-index: -1;
  background-color: #03A9F4;
  width: 100%;
  height: 200px;
  content: '';
  top: 0;
  left: 0;
}

.ca-main-paper {
  display: inline-block;
  height: 80%;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 0;

  &.chatBox {
    top: 0;
    background: #F5F5F5;
    height: 100%;
    width: 100%;
  }
}

.nick-wrap {
  padding: 0 50px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
}

.messageArea {
  height: 100%;
}

.messageForm {
  height: 100%;
  width: 100%;
  float: left;
}

.ma-sidebar {
  display: none; //todo : do this from js
  width: 25%;
  float: left;
  height: 100%;
  background: #f5f5f5;
  box-sizing: border-box;
  border-right: 1px solid #dedede;
}

.mas-user-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 30px;
}

.mas-user {
  padding-right: 15px;
  position: relative;
  margin: 15px 0;
  color: #666;
  font-size: 14px;

}

.mas-user-icon {
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  right: 0;
  top: 4px;
  border-radius: 50%;
}

.ml-g-header, .ma-sb-username {
  padding: 0 30px;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
  background-color: #f5f5f5;
  height: 60px;

  > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
  }
}

.ml-g-h-label {
  float: left;
}

.ml-g-h-icon {
  float: right;
}

.messagesList {
  height: calc(100% - 172px);
  overflow: auto;
  margin: 10px 0;
}

.message {
  padding: 8px 30px;
  &:hover {
    background: #f6f6f6;
  }
}

.message-time {
  font-size: 11px;
  color: #aaa;
  margin-right: 15px;
}

.message-name {
  margin-right: 8px;
}

.message-desc {
  color: #666;
}

.ml-userTyping {
  padding: 0 30px;
  font-size: 12px;
  height: 14px;
  color: #aaa;
}

.info-message-desc {
  font-size: 13px;
  color: #ccc;
}

.ca-footer {
  bottom: 0;
  width: 100%;
  background: #F5F5F5;
  box-sizing: border-box;
  padding: 14px 30px;
  border-top: 1px solid #dedede;
}

.ib-em-bt {
  position: absolute !important;
  right: 25px;
}

.ib-em-icon {
  fill: #999 !important;
}

.ib-text input {
  padding-right: 40px !important;
  box-sizing: border-box;

}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  background-size: contain;
}

.md-link{
  color:  #0000EE;
}

@media screen and (min-width: 900px) {
  .ca-main-paper {
    top: 10%;
    width: 450px;
    height: 450px;
    left: calc((100% - 450px) / 2);

    &.chatBox {
      top: 10%;
      left: 0;
      height: 80%;
    }
  }

  .messageForm {
    width: 75%;
  }

  .ma-sidebar {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .ca-main-paper.chatBox {
    left: calc((100% - 1200px) / 2);
    top: 10%;
    height: 80%;
    width: 1200px;
  }
}

